body {
  background: linear-gradient(-45deg, #72aef3, #eeb871, #9ce487, #e081f8);
  background-size: 300% 300%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}