body {
  background: linear-gradient(-45deg, #ee4714, #b6f393, #23a6d5, #00e48c);
  background-size: 400% 400%;
  animation: gradient 11s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}